<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        {% stylesheets
            'assets/vendor/materialize/dist/css/materialize.min.css'
            'assets/app/css/main.less'
         %}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        {% endstylesheets %}
    </head>
    <body>
        <header class="row light-blue lighten-5">
            {% block menu %}
                <nav class="nav-extended light-blue lighten-4">
                    <div class="nav-wrapper">
                        {#% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <span class='right'>{{ app.user.username }}</span>
                            <a class='left' href="{{ path('logout') }}">Logout</a>
                        {% else %}
                            <a class='left' href="{{ path('login') }}">Login</a>
                        {% endif %#}
                    </div>
                </nav>
            {% endblock %}
            <h4 class="left">{% block page_title %}{{ 'rocsann.welcome'|trans }}{% endblock %}</h4>
        </header>
        <section class="padding-20 brown lighten-5">
            {% block body %}

            {% endblock %}
        </section>

        {% javascripts
            'assets/vendor/jquery/dist/jquery.min.js'
            'assets/vendor/materialize/dist/js/materialize.min.js'
            'assets/app/js/main.js'
         %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
