<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Bienvenue{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        {% stylesheets
            'assets/vendor/bootstrap/dist/css/bootstrap.min.css'
            'assets/vendor/materialize/dist/css/materialize.min.css'
         %}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        {% endstylesheets %}
        {% stylesheets
            'assets/app/css/main.less'
         %}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        {% endstylesheets %}

        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        <header class="row">
            {% block menu %}
                <nav class="nav-extended">
                    <div class="nav-wrapper">
                        <a href="#" class="brand-logo right">Rocs'Ann</a>
                        {{ knp_menu_render('AppBundle:Builder:mainMenu') }}
                    </div>
                </nav>
            {% endblock %}
            {% block page_title %}<h2>Page d'accueil</h2>{% endblock %}
        </header>

        <section class="container">
            {% block body %}

            {% endblock %}
        </section>

        <footer class="page-footer">
            <div class="container">
                <div class="row">
                    <span>SIRET n°517 981 155 000 16 - </span>
                    <a href="/conditions.php">Conditions générales de vente</a> -
                    <a href="https://www.facebook.com/rocs.ann" target="_blank">Retrouvez-nous sur Facebook</a> -
                    <a href="/contactRA.php">Contacter Roc's Ann</a> -
                    <a href="/contactWM.php">Contacter le WebMaster</a>
                </div>
            </div>
        </footer>

        {% javascripts
            'assets/vendor/jquery/dist/jquery.min.js'
            'assets/vendor/bootstrap/dist/js/bootstrap.min.js'
            'assets/vendor/materialize/dist/js/materialize.min.js'
         %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        {% block javascripts %}
        {% endblock %}
    </body>
</html>
