{% extends "base.html.twig" %}

{% block body %}
    {{ dump(error) }}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {{ form_errors(form) }}
    {{ form_start(form, {"action": path('login') }) }}
        {{ form_row(form._username) }}
        {{ form_row(form._password) }}
    {{ form_end(form) }}
{% endblock %}